body {
  height: 1000px;
  background-image: linear-gradient(rgb(252, 198, 198), rgb(218, 96, 96));
}

.box {
  text-align: center;
  box-shadow: 1px 1px 10px  grey;
  margin: 5% 30% 0% 30%;
  font-size: 25px;
  background-color: white;
  padding: 1%;
  animation: winLoad 800ms ease-in-out;
}

@keyframes winLoad {
  0% {
    transform: translateY(-100%);
  }

  75% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.form {
  margin: 5% 5% 5% 5%;
}

.numberOfComplete,
h1,
.form {
  padding: 0%;
  animation: fadein 2s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.todoList {
  list-style: none;
  margin: 2% 30% 2% 30%;
}

.todo {
  font-size: 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  animation: window-fade 500ms ease-in;
}
@keyframes window-fade {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }

  75% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.taskInput {
  font-size: 2rem;
}

.addButton {
  font-size: 2rem;
  margin-left: 0%;
}

.alert {
  color: red;
  font-size: 20px;
  font-style: italic;
  animation: blinka 300ms linear infinite;
}

@keyframes blinka {
  60% {
    opacity: 0;
  }
}

.completed {
  text-decoration-line: line-through;
  opacity: 0.5;
}

.fa-trash {
  pointer-events: none;
}

.deleteButton {
  font-size: 25px;
  margin-right: 0%;
}
.numberOfComplete{
  position: relative;
margin: 5% 40% 5% 40%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.number{

  position: absolute;
  left:0;
}



.textComplete{
  position: absolute;
  left:30px;
}